@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Raleway:ital,wght@0,200;0,900;1,900&display=swap');

html {
  padding: 0;
  margin: 0;
  font-family: 'Chivo', 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  max-width: 1550px;
  padding: 0;
  margin: 0;
  background-color: #1a1717;
  font-family: 'Chivo', 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  cursor: pointer;
  height: 500px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1),
  -15px -15px 30px rgba(255, 255, 255, 0.65);
  transition: all 0.6s;
}

img.pure {
  height: 100px;
  width: 100px;
  object-fit: cover;
  background: transparent;
  border: 0 solid transparent;
  box-shadow: unset;
}

img.pure:hover {
  border: 0
}

img.dark {
  background: #1a1717;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25),
  -15px -15px 30px rgba(255, 255, 255, 0.03);
}

img.r {
  width: 90%;
  height: 90%;
  padding: 10px;
}

img.darkr {
  background: #1a1717;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25),
  -15px -15px 30px rgba(255, 255, 255, 0.03);
  width: 90%;
  height: 90%;
  padding: 10px;
}

@media only screen and (min-width: 764px) {
  img.darkr {
    background: #1a1717;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25),
    -15px -15px 30px rgba(255, 255, 255, 0.03);
    width: 80%;
    padding: 20px;
  }
  img.r {
    width: 80%;
    padding: 20px;
  }
}

svg.sm {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

h4 {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  margin-top: 10px;
}

h4.dark {
  color: white;
}

p.avatar {
  margin-top: 5px;
  font-size: 14px;
}

.body-light {
  background-color: #e8e8e8;
}

::-webkit-scrollbar {
  width: 20px;
}


@keyframes changePage {
  0% {
    width: 1vw;
  }
  50% {
    width: 101vw;
  }
  100% {
    width: 1vw;
  }
}

/* Track */
/*::-webkit-scrollbar-track {
  background: transparent;
}

!* Handle *!
::-webkit-scrollbar-thumb {
  background: #ffae00;
  border-radius: 10px;
}*/



::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 20px 20px transparent;
  border: solid 6px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 10px 10px #ffae00;
  border: solid 6px transparent;
}
svg {
  width: 45px;
  height: 45px;
  transition: all .4s;
}

svg.logo {
  width: 150px;
  height: unset;
  margin-top: -60px;
  margin-left: 0;
  transition: all .4s;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-family: 'Chivo', sans-serif;
  transition: all .4s;
}

svg.dark {
  fill: #e8e8e8;
}

p.dark, h1.dark, h2.dark, h3.dark, div.dark {
  color: #e8e8e8;
}

svg.button {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  transition: all 0.4s;
}

svg:hover.button {
  cursor: pointer;
  fill: #ffae00;
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
}

img.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: none;
  border: none;
}

h1 {
  font-size: 50px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 900;
  transition: all .4s;
}

h2 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin-bottom: 34px;
  transition: all .4s;
}

@media only screen and (max-width: 764px) {
  p {
    font-size: 18px;
    line-height: 150%;
    font-family: 'Chivo', sans-serif;
  }

  h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
  }

  h2 {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
  }
  svg.logo {
    width: 150px;
    height: unset;
    margin-top: -60px;
    margin-left: -30px;
    transition: all .4s;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
