.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
}

.firstSectionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100vh;
}

.projectInfoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projectInfoContainer div {
  padding: 10px;
  width: 33%;
}

@media only screen and (max-width: 700px) {
  .projectInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .projectInfoContainer div {
    width: 100%;
  }
  .firstSectionContainer {
    justify-content: start;
    width: 100%;
    height: 100vh;
  }
}