.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 100px;
    width: 90%;
}
.member {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    justify-content: center;
    width: 50%;
}

@media only screen and (min-width: 764px) {
    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        width: 70%;
    }
    .member {
        width: 30%;
    }
}

